* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #b3debd;
}

#map {
  height: 100vh;
  width: 100vw;
  background-color: none;
  z-index: -1;
  align-content: flex-start; 
}
#wrapper {
  display: flex;
  flex-direction: row;
}
#sidebar {
  flex-direction: column;
  z-index: 5;
  height: 20vh;
  width: 20vw;
  justify-content: center;
  align-content: center;
}

#planner {
  /* flex-direction: row;
  justify-content: flex-end; */
}